<div class="main-content">
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-3">
            <div class="product-box">
              <a routerLink="/products/{{product.productId}}">
                <img src='assets/placeholder.png' class="img-responsive">
              </a>
              <a routerLink="/products/{{product.productId}}">
                <h1>{{ product.productName }}</h1>
              </a>
              <h2>{{ product.description }}</h2>
              <div class="price">{{ product.price | currency:'USD' }}</div>
              <button (click)="addToCart()" class="primary-btn">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>