<div class="page-wrapper">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="logo" style="background: black">
      <a href="index.html">
        <img
          src="assets/logo.png"
          alt="Great Outdoors"
          class="img-responsive"
        />
      </a>
    </div>
  </nav>

  <!-- MENU SIDEBAR-->
  <!--
  <aside class="menu-sidebar d-none d-lg-block">
    
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li>
            <a routerLink="order/create">Place Order</a>
          </li>
          <li>
            <a routerLink="addProduct">Add Product</a>
          </li>
          
      </ul>
      </nav>
    </div>
  </aside>
  -->
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <!--<app-search></app-search>-->
            <div
              style="background: black; font-family: Verdana"
              class="cart-area d-n"
            >
              <span>
                <a
                  style="background: black"
                  class="bar"
                  routerLink="/categories"
                >
                  <!--
                <div class="total">19.22 <span> 2</span> </div> <i class="fa fa-shopping-cart"
                  aria-hidden="true"></i>
                -->
                  Home
                </a>
              </span>
              <a style="background: black" class="bar" routerLink="/about"
                >About</a
              >
              <a style="background: black" class="bar" routerLink="/contact"
                >Contact</a
              >
              <a style="background: black" class="bar" routerLink="/cart"
                >Cart</a
              >

              <app-user-account></app-user-account>
            </div>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>
    <!-- END MAIN CONTENT-->
  </div>
</div>

<!-- END PAGE CONTAINER-->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
