<div class="col-md-12">
  <div class="card card-container">
    <form name="form" novalidate>
      <div class="form-group">
        <h1>About Us</h1>
        <hr />
        <p>
          Great Outdoors (GO) is an electronic distributor of outdoor products.
          GO sources the products from various manufacturers, and supplies them
          to retailers across various countries. Due to lack of intermediaries,
          GO has been able to price its products very competitively, offering
          significant discounts as compared to its "brick and mortar" rivals.
          This has helped their revenue grow very rapidly. GO's gross profit is
          quite healthy. However, they continue to make investments into the
          business to drive growth; as a result, their net profit margins are
          very thin, and at times enter the red as well. Therefore, there is a
          constant pressure to optimize on costs and enhance profitability so
          they can fuel further growth. GO is always looking at opportunities
          for cost optimization, in order to enhance profitability.
        </p>
        <p><b>In terms of market presence, we have:</b></p>
        <ul>
          <li>A strong presence in the Americas</li>
          <li>Made great inroads in Europe</li>
          <li>Relative nonexistence in the emerging economies</li>
        </ul>
      </div>
    </form>
  </div>
</div>
